<p id="notice"><%= notice %></p>

<p>
  <strong>部署名:</strong>
  <%= @department.name %>
</p>

<%= link_to 'Edit', edit_department_path(@department) %> |
<%= link_to 'Back', "/admin/setting", method: :get %>
