<h1>Editing Support Residence</h1>

<%= render 'form', support_residence: @support_residence %>

<%= link_to 'Show', @support_residence %> |
<%= link_to 'Back', "/admin/personal/monthly_rent_support_info", method: :get %>
