<%= form_with(model: personal_info_pdf, local: true) do |form| %>
  <% if personal_info_pdf.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(personal_info_pdf.errors.count, "error") %> prohibited this personal_info_pdf from being saved:</h2>

      <ul>
      <% personal_info_pdf.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
