<h1>Editing Details Employee Salary</h1>

<%= render 'form', details_employee_salary: @details_employee_salary %>

<%= link_to 'Show', @details_employee_salary %> |
<%= link_to 'Back', details_employee_salaries_path %>
