<%= form_with(model: web_wage, local: true) do |form| %>
  <% if web_wage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(web_wage.errors.count, "error") %> prohibited this web_wage from being saved:</h2>

      <ul>
      <% web_wage.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
